{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">

            <h2 class="mb-3 text-danger">Please Register</h2>
            <a href="{{ path('publicview') }}" class="btn btn-danger">Back to List</a>

            <div class="my-4">
                {{ form_start(registrationForm) }}
                    <div class="row mt-2">
                        <div class="col-md-12">
                            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            {{ form_row(registrationForm.plainPassword, {label: 'Password', 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            {{ form_row(registrationForm.agreeTerms, {label: 'Agree to terms', 'attr': {'class': 'mx-2'}}) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger my-2">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
